// color variables
$colors: (
  dark-gray: #4e5150,
  neutral-gray: #607d8b,
  light-gray: #ddd,
  dark: #333,
);
// size variables
$sizes: (
  0.8: 0.8rem,
  0.5: 0.5rem,
  1.5: 1.5rem,
  1: 1rem,
  1.2: 1.2rem,
  3: 3rem,
);
// color function
@function color($name) {
  @return map-get($colors, $name);
}
// size function
@function size($num) {
  @return map-get($sizes, $num);
}
// other variables
$montserrat: Montserrat, sans-serif;
$radius: 12px;
$grid-span: span 2;

// mixin
$mobile: 668px;
@mixin mobile {
  @media (max-width: #{$mobile}) {
    @content;
  }
}
