// grid layout
.gallery {
    width: 70%;
    display: grid;
    gap: size(1);
    grid-template-columns: 30% 30% 30%;
    grid-template-rows: 300px 300px 300px;
    margin-top: 3rem;
    padding: size(1);
    justify-content: center;

    
    @include mobile {
      grid-template-columns: 33% 33% 33%;
      grid-template-rows: 200px 200px 200px;
  }
    .gallery__post {
      border-radius: $radius;
      background-size: cover;
      background-position: center;
    }
    .gallery__post:nth-child(1) {
      background-image: url(https://images.unsplash.com/photo-1498409505433-aff66f7ba9e6?crop=entropy&cs=tinysrgb&fm=jpg&ixid=MnwzMjM4NDZ8MHwxfHJhbmRvbXx8fHx8fHx8fDE2NzI4NDgwMjU&ixlib=rb-4.0.3&q=80);
    }
    .gallery__post:nth-child(2) {
      background-image: url(https://images.unsplash.com/photo-1542928658-22251e208ac1?crop=entropy&cs=tinysrgb&fm=jpg&ixid=MnwzMjM4NDZ8MHwxfHJhbmRvbXx8fHx8fHx8fDE2NzI4NDY5NDQ&ixlib=rb-4.0.3&q=80);
    }
    .gallery__post:nth-child(3) {
      background-image: url(https://images.unsplash.com/photo-1523755231516-e43fd2e8dca5?crop=entropy&cs=tinysrgb&fm=jpg&ixid=MnwzMjM4NDZ8MHwxfHJhbmRvbXx8fHx8fHx8fDE2NzI4NDY5ODQ&ixlib=rb-4.0.3&q=80);
    }
    .gallery__post:nth-child(4) {
      background-image: url(https://images.unsplash.com/photo-1600607686527-6fb886090705?crop=entropy&cs=tinysrgb&fm=jpg&ixid=MnwzMjM4NDZ8MHwxfHJhbmRvbXx8fHx8fHx8fDE2NzI4NDY5ODQ&ixlib=rb-4.0.3&q=80);
    }
    .gallery__post:nth-child(5) {
      background-image: url(https://images.unsplash.com/photo-1586105251261-72a756497a11?crop=entropy&cs=tinysrgb&fm=jpg&ixid=MnwzMjM4NDZ8MHwxfHJhbmRvbXx8fHx8fHx8fDE2NzI4NDY5ODQ&ixlib=rb-4.0.3&q=80);
    }
    .gallery__post:nth-child(6) {
      background-image: url(https://images.unsplash.com/photo-1537726235470-8504e3beef77?crop=entropy&cs=tinysrgb&fm=jpg&ixid=MnwzMjM4NDZ8MHwxfHJhbmRvbXx8fHx8fHx8fDE2NzI4NDcwODU&ixlib=rb-4.0.3&q=80);
    }
    .gallery__post:nth-child(2) {
      grid-column: $grid-span;
    }
    .gallery__post:nth-child(3) {
      grid-column: $grid-span;
    }
    .gallery__post:nth-child(4) {
      grid-row: $grid-span;
    }
  }